{% extends "base.html" %}
{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <p> __TITLE__
    {{ form.as_p }}
    
    <table id="Environment">
    <tr>
        <td>Environment:</td>
        <td><select id= "env" name="env">
            <option value="dev" >Dev</option>
            <option value="test" selected>Test</option>
            <option value="uat" >UAT</option>
            <option value="bprtest" >BPRtest</option>
            <option value="bpruat" >BPRuat</option>  
            <option value="sandbox" >Sandbox</option>
            <option value="preprd" >PrePrd</option>
        </select></td>
    </tr>
    </table>
    <table id="Debug">
    #__DEBUG_HTML_PLACEHOLDER__
    </table>
    <input type="submit" value="Update debug">
</form>

{% endblock %}