{% extends "base.html" %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>From Branch:</td><td>
    <select name="FromBranch">
        <option value="empty" selected></option>
        <option value="develop">develop</option>
        <option value="test">test</option>
        <option value="uat">uat</option>
        <option value="bprtest">bprtest</option>
        <option value="bpruat">bpruat</option>
        <option value="sandbox">sandbox</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>To environment:</td><td>
    <select name="ToBranch">
        <option value="empty" selected></option>
        <option value="develop">develop</option>
        <option value="test">test</option>
        <option value="uat">uat</option>
        <option value="bprtest">bprtest</option>
        <option value="bpruat">bpruat</option>
        <option value="sandbox">sandbox</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>Run tests:</td><td>
    <select name="run_tests" onchange="toggle('hidden_tr', this)">
        <option value="Yes">Yes</option>
        <option value="No" selected>No</option>
    </select>
    </td></tr>
    <tr id="hidden_tr" style="display: none">
        <td>Suite:</td><td><input type="text" name="suite" value=""></td>
        <td>Version:</td><td><input type="text" name="version" value="">
    </td></tr>
    <tr><td>Force deploy:</td><td>
    <select name="force_deploy">
        <option value="Yes" >Yes</option>
        <option value="No" selected>No</option>
    </select>
    </td></tr>
        
    </table>
    <input type="submit" value="Deploy">
    <br><br>
    <p1>How to check if a deployment was completed successfully -  <a href="__url__"> documentation </a></p1>
</form>
<script>
    function toggle(trId, element) {
    document.getElementById(trId).style.display = element.value == 'Yes' ? 'table-row' : 'none';
}
</script>
{% endblock %}
