{% extends "base.html" %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>From Branch:</td><td>
    <select name="FromBranch">    
        <option value="empty" selected></option>    
        <option value="develop">develop</option>
        <option value="test">test</option>
        <option value="uat">uat</option>
        <option value="bprtest">bprtest</option>
        <option value="bpruat">bpruat</option>
        <option value="sandbox">sandbox</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>To environment:</td><td>
    <select name="ToBranch">
        <option value="empty" selected></option>
        <option value="develop">develop</option>
        <option value="test">test</option>
        <option value="uat">uat</option>
        <option value="bprtest">bprtest</option>
        <option value="bpruat">bpruat</option>
        <option value="sandbox">sandbox</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>Run tests:</td><td>
    <select name="run_tests">
        <option value="Yes">Yes</option>
        <option value="No" selected>No</option>
    </select>
    </td></tr>
    <tr><td>Force deploy:</td><td>
    <select name="force_deploy">
        <option value="Yes" >Yes</option>
        <option value="No" selected>No</option>
    </select>
    </td></tr>
        <tr><td>CI/CD:</td><td>
        <select name="ci_cd">
        <option value="wercker">Wercker</option>
        <option value="actions" selected>Actions</option>
        </select>
        </td></tr>
    </table>
    <input type="submit" value="Deploy">
</form>
{% endblock %}
