{% extends "base.html" %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>From Branch:</td><td>
    <input type="text" name="FromBranch"></td></tr>
    <tr><td>To environment:</td><td>
    <input type="text" name="ToBranch"> </td></tr>
    <tr><td>Run tests:</td><td>
    <select name="run_tests">
        <option value="Yes">Yes</option>
        <option value="No" selected>No</option>
    </select>
    </td></tr>
    <tr><td>Force clone:</td><td>
    <select name="force_clone">
        <option value="Yes" selected>Yes</option>
        <option value="No">No</option>
    </select>
    </td></tr>
    <tr><td>Force deploy:</td><td>
    <select name="force_deploy">
        <option value="Yes" >Yes</option>
        <option value="No" selected>No</option>
    </select>
    </td></tr>
    </table>
    <input type="submit" value="Deploy">
</form>
{% endblock %}
