{% extends "base.html" %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>Version:</td><td>
    <input type="text" name="Version"></td></tr>
    <tr><td>Environment:</td><td>
    <select name="Environment">
        <option value="empty" selected></option>
        <option value="develop">develop</option>
        <option value="test">test</option>
        <option value="uat">uat</option>
        <option value="bprtest">bprtest</option>
        <option value="bpruat">bpruat</option>
        <option value="sandbox">sandbox</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>Suite:</td><td>
    <input type="text" name="Suite" value="@smoke"> </td></tr>
    </td></tr>
    </table>
    <input type="submit" value="Start tests">
    <br><br>
    <p>Current parameters</p>
    <table>
    <tr><td>Hub:</td><td>
    <select name="Hub">
        <option value="azure-ssl" >azure-ssl</option>
        <option value="azure" >azure</option>
        <option value="headless" selected>headless</option>
        <option value="mobile" >mobile</option>
    </select>
    </td></tr>
    <tr><td>Custom_locale:</td><td>
    <input type="text" name="Custom_locale" value="__Custom_locale__"> </td></tr>
    <tr><td>BPR_sites:</td><td>
    <input type="text" name="BPR_sites" value="__BPR_sites__"> </td></tr>
    <tr><td>Locale_en:</td><td>
    <input type="text" name="Locale_en" value="__Locale_en__" size="100"> </td></tr>
    <tr><td>Locale_non_en:</td><td>
    <input type="text" name="Locale_non_en" value="__Locale_non_en__" size="100"> </td></tr>
    <tr><td>Locale_all:</td><td>
    <input type="text" name="Locale_all" value="__Locale_all__" size="100"> </td></tr>
    </table>
    <br><br>
    <p>Advanced settings</p>
    <table>
    <tr><td>Cluster:</td><td>
    <select name="Cluster">
        <option value="k8s" selected>Kubernetes</option>
        <option value="dcos" >DCOS</option>
    </select>
    </td></tr>
    <tr><td>Docker tag:</td><td>
    <input type="text" name="Docker tag" value="latest"> </td></tr>
    </table>
</form>
{% endblock %}
