{% extends "base.html" %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>Version:</td><td>
    <input type="text" name="Version"></td></tr>
    <tr><td>Environment:</td><td>
    <select name="Environment">
        <option value="empty" selected></option>
        <option value="develop">develop</option>
        <option value="test">test</option>
        <option value="uat">uat</option>
        <option value="bprtest">bprtest</option>
        <option value="bpruat">bpruat</option>
        <option value="sandbox">sandbox</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>Suite:</td><td>
    <input type="text" name="Suite" value="@smoke"> </td></tr>
    </td></tr>
    </table>
    <input type="submit" value="Start tests">
    <br><br>
    
    <tr><td>Current parameters:</td><td>
    <button onclick="hide_show()">Hide/Show</button>
    </td></tr>
    <table id="1">
    <tr><td>Hub:</td><td>
    <select name="Hub">
        <option value="azure-ssl" >azure-ssl</option>
        <option value="azure" >azure</option>
        <option value="headless" selected>headless</option>
        <option value="mobile" >mobile</option>
    </select>
    </td></tr>
    <tr><td>Custom_locale:</td><td>
    <input type="text" name="Custom_locale" value="__Custom_locale__"> </td></tr>
    <tr><td>BPR_sites:</td><td>
    <input type="text" name="BPR_sites" value="__BPR_sites__"> </td></tr>
    <tr><td>Locale_en:</td><td>
    <input type="text" name="Locale_en" value="__Locale_en__" size="100"> </td></tr>
    <tr><td>Locale_non_en:</td><td>
    <input type="text" name="Locale_non_en" value="__Locale_non_en__" size="100"> </td></tr>
    <tr><td>Locale_all:</td><td>
    <input type="text" name="Locale_all" value="__Locale_all__" size="100"> </td></tr>
    </table>
    <br><br>

    <tr><td>Advanced settings:</td><td>
    <button name="2" onclick="hide_show1()">Hide/Show</button>
    </td></tr>
    <table id="2">
    <tr><td>Cluster:</td><td>
    <select name="Cluster">
        <option value="k8s" selected>Kubernetes</option>
        <option value="dcos" >DCOS</option>
    </select>
    </td></tr>
    <tr><td>Docker tag:</td><td>
    <input type="text" name="Docker tag" value="latest"> </td></tr>
    </table>
    <br><br>
    
    <tr><td>Cron:</td><td>
    <button name="3" onclick="hide_show2()">Hide/Show</button>
    </td></tr>
    <table id="3">
        <td>Minute [0,59]:</td><td><input type="text" name="minute" value="30" style="width:50px;text-align: center;"></td><td>Hour [0,23]:</td><td><input type="text" name="hour" value="2" style="width:50px;text-align: center;"></td><td>Day of the month [1,31]:</td><td><input type="text" name="day_of_the_month" value="*" style="width:50px;text-align: center;"></td><td>Month of the year [1,12]:</td><td><input type="text" name="month_of_the_year" value="*" style="width:50px;text-align: center;"></td><td>Day of the week [0,6 with 0=Sunday]:</td><td><input type="text" name="day_of_the_week" value="*" style="width:50px;text-align: center;"></td>
        <tr><td>Version:</td><td>
        <input type="text" name="Version"></td></tr>
        <tr><td>Environment:</td><td>
        <select name="Environment">
            <option value="empty" selected></option>
            <option value="develop">develop</option>
            <option value="test">test</option>
            <option value="uat">uat</option>
            <option value="bprtest">bprtest</option>
            <option value="bpruat">bpruat</option>
            <option value="sandbox">sandbox</option>
            <option value="preprd">preprd</option>
        </select>
        </td></tr>
        <tr><td>Suite:</td><td>
        <input type="text" name="Suite" value="@smoke"> </td></tr>
        <br><br>
        <tr><td><input type="submit" value="__status_cron__"></td></tr>
    </table>
    <br><br>

    <p1>Running functional-tests with different image tags -  <a href="__URL_FUNCTIONAL__"> documentation </a></p1>
    <script>
    function hide_show() {
        var x = document.getElementById("1");
        if (x.style.display === "none") {
        x.style.display = "block";
        } else {
        x.style.display = "none";
        }
    }
    </script>
</form>
<button onclick="hide_show()">Hide/Show</button>

{% endblock %}
