{% extends "base.html" %}
{% block content %}

<br><br>
<p1>How to check if a deployment was completed successfully -  <a href="__URL_PERFORMANCE__"> documentation </a></p1>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <tr><td>Mandatory parameters</tr><td>
    <table>
    <table>
    <tr><td>--host</td><td>
    <select name="environment">
        <option value="" selected></option>
        <option value="uat">uat</option>
        <option value="preprd">preprd</option>
    </select><input type="text" name="site" value="__site__" size="3"> </td></tr>
    <tr><td>SEARCH_SKU</td><td>
    </select><input type="text" name="sku" value="__sku__">
    <tr><td>SEARCH_FACET</td><td>
    </select><input type="text" name="facet" value="__facet__">
    </table>
    <br><br>
    <tr><td>Optional parameters</tr><td>
    <table>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('no_of_users'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--users</td><td>
    <input id="no_of_users" name="no_of_users" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('run_time'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--run-time</td><td>
    <input id="run_time" name="run_time" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('startup_time'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--startup-time</td><td>
    <input id="startup_time" name="startup_time" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('iterations'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--iterations</td><td>
    <input id="iterations" name="iterations" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('report_file'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--report-file</td><td>
    <input id="report_file" name="report_file" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('hatch_rate'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--hatch-rate</td><td>
    <input id="hatch_rate" name="hatch_rate" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('test_plan'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--test-plan</td><td>
    <input id="test_plan" name="test_plan" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" id="no_reset_metrics" name="no_reset_metrics" value="--no-reset-metrics" onchange="update(this);">--no-reset-metrics</td><td>
    </table>
    <input type="submit" value="Start performance test">
    </form>
    <script>
    // value update when box checked/ unchecked
    var default_value = ``;
    function update(feature) {
        // Check
        if(feature.checked == true){
            // Add value to default_value
            default_value += String(feature.value);
            document.getElementById('no_reset_metrics').value = default_value;
        }
        // Uncheck
        if(feature.checked == false){
            // Subtract value from default_value
            default_value -= String(feature.value);
            document.getElementById('no_reset_metrics').value = default_value;
        }
    }
    </script>
{% endblock %}
