{% extends "base.html" %}
{% block content %}

<p1>Performance test using goose -  <a href="https://book.goose.rs/getting-started/running.html"> documentation </a></p1>
<br><br>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>--host</td><td>
    <select name="Environment">
        <option value="" selected></option>
        <option value="uat">uat</option>
        <option value="preprd">preprd</option>
    </select>
    <tr><td>--users</td><td>
    <input type="text" name="no_of_users"></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('run_time'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--run-time</td><td>
    <input id="run_time" name="run_time" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('startup_time'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--startup-time</td><td>
    <input id="startup_time" name="startup_time" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('iterations'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--iterations</td><td>
    <input id="iterations" name="iterations" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('report_file'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--report-file</td><td>
    <input id="report_file" name="report_file" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('hatch_rate'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--hatch-rate</td><td>
    <input id="hatch_rate" name="hatch_rate" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" onclick="var input = document.getElementById('test_plan'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />--test-plan</td><td>
    <input id="test_plan" name="test_plan" disabled="disabled"/></td></tr>
    <tr><td><input type="checkbox" id="no_reset_metrics" name="no_reset_metrics" value="--no-reset-metrics" onchange="update(this);">--no-reset-metrics</td><td>
    </table>
    <input type="submit" value="Start performance test">
    </form>
    <script>
    var default_value = ``;
    function update(feature) {
        // Check
        if(feature.checked == true){
            // Add value to default_value
            default_value += String(feature.value);
            document.getElementById('no_reset_metrics').value = default_value;
        }
        // Uncheck
        if(feature.checked == false){
            // Subtract value from default_value
            default_value -= String(feature.value);
            document.getElementById('no_reset_metrics').value = default_value;
        }
    }
    </script>
{% endblock %}
