{% extends "base.html" %}
{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <p> __TITLE__
    <p>
    <button type="button" onclick="scaledown()">Replicas 0 </button>
    <p>
    {{ form.as_p }}
    
    <table id="Environment">
    <tr>
        <td>Environment:</td>
        <td><select id= "env" name="env" onchange="default_env()">
            <option value="dev" >Dev</option>
            <option value="test" selected>Test</option>
            <option value="uat" >UAT</option>
            <option value="bprtest" >BPRtest</option>
            <option value="bpruat" >BPRuat</option>
            <option value="sandbox" >Sandbox</option>
            <option value="preprd" >PrePrd</option>
        </select></td>
    </tr>
    </table>
    <table id="Replicas">
    #__REPLICA_HTML_PLACEHOLDER__
    </table>
    <input type="submit" value="Update replicas">
</form>

<script>
dev = [ '2', '1', '1', '1', '1', '1', '2', '1', '1' ];
test = [ '2', '1', '1', '1', '1', '1', '2', '1', '1' ];
uat = [ '2', '1', '1', '1', '1', '1', '2', '1', '1' ];
bprtest = [ '2', '1', '1', '1', '1', '1', '2', '1', '1' ];
bpruat = [ '2', '1', '1', '1', '1', '1', '2', '1', '1' ];
sandbox = [ '2', '1', '1', '1', '1', '1', '2', '1', '1' ];
preprd = [ '2', '1', '1', '1', '1', '2', '2', '1', '1' ]; 
function scaledown() {
  input_list = document.querySelectorAll("form td input");
  x = input_list.length;
  for (i=0; i < x; i++){
    input_list[i].value="0";
  }
}
function default_env () {
  var myenv = document.getElementById("env").value;
  switch (myenv){
    case 'dev':
      default_values = dev;
      break;
    case 'test':
      default_values = test;
      break;
    case 'uat':
      default_values = uat;
      break;
    case 'bprtest':
      default_values = bprtest;
      break;
    case 'bpruat':
      default_values = bpruat;
      break;
    case 'sandbox':
      default_values = sandbox;
      break;
    case 'preprd':
      default_values = preprd;
      break;
  }
  
  input_list = document.querySelectorAll("form td input");
  x = input_list.length;
  for (i=0; i < x; i++){
    input_list[i].value = default_values[i];
  }
}
</script>
{% endblock %}