{% extends "base.html" %}
{% block content %}

<p1>Test stress using goose</p1>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <table>
    <tr><td>Environment:</td><td>
    <select name="Environment">
        <option value="empty" selected></option>
        <option value="uat">uat</option>
        <option value="preprd">preprd</option>
    </select>
    </td></tr>
    <tr><td>NO. of users:</td><td>
    <input type="text" name="no_of_users"></td></tr>
    <input type="checkbox" onclick="var input = document.getElementById('run_time'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Run time:
    <input id="run_time" name="run_time" disabled="disabled"/>
    <input type="checkbox" onclick="var input = document.getElementById('startup_time'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Startup time:
    <input id="startup_time" name="startup_time" disabled="disabled"/>
    <input type="checkbox" onclick="var input = document.getElementById('iterations'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Iterations:
    <input id="iterations" name="iterations" disabled="disabled"/>
    <input type="checkbox" onclick="var input = document.getElementById('report_file'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Report file:
    <input id="report_file" name="report_file" disabled="disabled"/>
    <input type="checkbox" onclick="var input = document.getElementById('hatch_rate'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Hatch rate:
    <input id="hatch_rate" name="hatch_rate" disabled="disabled"/>
    <input type="checkbox" onclick="var input = document.getElementById('test_plan'); if(this.checked){ input.disabled = false; input.focus();}else{input.disabled=true;}" />Test plan:
    <input id="test_plan" name="test_plan" disabled="disabled"/>
    <input type="checkbox">No reset metrics:
    <input id="no_reset_metrics" name="no_reset_metrics" disabled="disabled"/>
    </table>
    <input type="submit" value="Start test stress">
</form>
{% endblock %}
